**/node_modules
**/dist
**/.next
.env
.env.*
!.env.example
.state
.git
out
cache
broadcast
lib
apps/web/*
!apps/web/package.json
apps/landing/*
!apps/landing/package.json
apps/cre-keeper/*
!apps/cre-keeper/package.json
packages/agent-wallet-plugin/*
!packages/agent-wallet-plugin/package.json
apps/envio-indexer
brand
